<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h2>Tina's College Football blog</h2>
    <p>If you like Ohio State or USC, go away</p>
    <ul>
      {{#each blogs}}
      <li><a href="blog/{{id}}">{{title}}</a></li>
      {{/each}}
    </ul>

    <table>
        {{#each blogs}}
      <tr>
        <td><a href="blog/{{id}}">{{id}}</td>
        <td><a href="blog/{{date}}">{{date}}</td>
        <td><a href="blog/{{title}}">{{title}}</td>
      </tr>
        {{/each}}
    </table>
  </body>
</html>
